<section class="about section">
  <header class="section_header text-centered">
    <h1>{{ page_title }}</h1>
  </header>
</section>

{% section 'page-about-flip-blocks-1' %}
{% section 'page-about-banner' %}
{% section 'page-about-flip-blocks-2' %}
