{% assign page_title = page.title %}
{% assign page_content = page.content %}

<section class="page section">
  <header class="section_header text-centered">
    <h1>{{ page_title }}</h1>
  </header>
  <div class="page_content container">{{ page_content }}</div>
</section>
