{%- if id == 'menu' -%}
<svg id="icon_menu" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
    <path d="M4 8 L28 8 M4 16 L28 16 M4 24 L28 24" />
</svg>
{%- endif -%}

{%- if id == 'close' -%}
<svg id="icon_close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
  <path d="M2 30 L30 2 M30 30 L2 2" />
</svg>
{% endif %}

{%- if id == 'plus' -%}
<svg id="icon_plus" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
    <path d="M16 2 L16 30 M2 16 L30 16" />
</svg>
{% endif %}

{%- if id == 'minus' -%}
<svg id="icon_minus" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
    <path d="M2 16 L30 16" />
</svg>
{% endif %}

{%- if id == 'search' -%}
<svg id="icon_search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
    <circle cx="14" cy="14" r="12" />
    <path d="M23 23 L30 30"  />
</svg>
{% endif %}

{%- if id == 'lock' -%}
<svg id="icon_lock" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
    <path d="M5 15 L5 30 27 30 27 15 Z M9 15 C9 9 9 5 16 5 23 5 23 9 23 15 M16 20 L16 23" />
    <circle cx="16" cy="24" r="1" />
</svg>
{%- endif -%}

{%- if id == 'camera' -%}
<svg id="icon_camera" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
    <path d="M2 8 L 9 8 12 4 20 4 23 8 30 8 30 26 2 26 Z" />
    <circle cx="16" cy="16" r="5" />
</svg>
{%- endif -%}

{%- if id == 'twitter' -%}
<svg width="48px" height="44px" viewBox="0 0 25 21" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <title>Twitter</title>  
  <defs></defs>
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
        <g transform="translate(-464.000000, -189.000000)" stroke="currentColor">
            <g transform="translate(465.000000, 190.000000)">
                <path d="M1.5,1 C3.425,3.445 6.873,5.752 11.5,6 C11.245,4.938 11.22,2.057 13.238,0.859 C14.14,0.324 14.994,0 16,0 C17.265,0 18.302,0.434 19.406,1.488 C20.305,1.357 21.983,0.636 22.381,0.353 C22.122,1.347 21.085,2.624 20.335,2.927 C21.023,2.924 22.537,2.514 23,2.271 C22.357,3.304 21.234,4.294 20.619,4.705 C21.331,11.075 15.653,18.992 7.5,19 C5.171,19.002 2.641,18.508 0,17 C2.605,17.305 5.397,16.461 7,15 C4.979,14.954 2.931,13.592 2,11.5 C3.013,11.815 3.947,11.975 4.5,11.5 C3.557,11.394 0.5,9.72 0.5,6.478 C1.203,7.059 2.214,7.66 3,7.5 C1.713,6.738 -0.156,3.837 1.5,1 Z" id="Stroke-84"></path>
            </g>
        </g>
    </g>
</svg>
{% endif %}

{%- if id == 'facebook' -%}
<svg width="48px" height="48px" viewBox="0 0 23 23" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>Facebook</title>
  	<defs></defs>
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
        <g transform="translate(-419.000000, -187.000000)" stroke="currentColor">
            <g transform="translate(420.000000, 188.000000)">
                <path d="M19.5,0 L1.5,0 C0.671,0 0,0.671 0,1.5 L0,19.5 C0,20.329 0.671,21 1.5,21 L10,21 L10,13 L8.021,13 L8.021,10 L10,10 L10,8 C10,5.791 11.791,4 14,4 L17,4 L17,7 L14,7 C13.448,7 13,7.448 13,8 L13,10 L17,10 L16.5,13 L13,13 L13,21 L19.5,21 C20.329,21 21,20.329 21,19.5 L21,1.5 C21,0.671 20.329,0 19.5,0 Z" id="Stroke-82"></path>
            </g>
        </g>
    </g>
</svg>
{%- endif -%}

{%- if id == 'pinterest' -%}
<svg width="48px" height="48px" viewBox="0 0 48 48" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>Pinterest</title>
    <defs></defs>
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g transform="translate(-407.000000, -295.000000)" fill="#000000">
            <path d="M431.001411,295 C417.747575,295 407,305.744752 407,319.001411 C407,328.826072 412.910037,337.270594 421.368672,340.982007 C421.300935,339.308344 421.357382,337.293173 421.78356,335.469924 C422.246428,333.522491 424.871229,322.393897 424.871229,322.393897 C424.871229,322.393897 424.106368,320.861351 424.106368,318.59499 C424.106368,315.038808 426.169518,312.38296 428.73505,312.38296 C430.91674,312.38296 431.972306,314.022755 431.972306,315.987123 C431.972306,318.180102 430.572411,321.462515 429.852708,324.502205 C429.251543,327.050803 431.128418,329.125243 433.640325,329.125243 C438.187158,329.125243 441.249427,323.285765 441.249427,316.36532 C441.249427,311.10725 437.707356,307.170048 431.263891,307.170048 C423.985006,307.170048 419.449462,312.59746 419.449462,318.659905 C419.449462,320.754101 420.064738,322.227377 421.029988,323.367613 C421.475922,323.895396 421.535191,324.104251 421.374316,324.708238 C421.261422,325.145705 420.996119,326.21256 420.886047,326.633092 C420.725172,327.239901 420.23408,327.460046 419.686541,327.234256 C416.330746,325.865408 414.769977,322.193509 414.769977,318.064385 C414.769977,311.248368 420.519139,303.069148 431.921503,303.069148 C441.085729,303.069148 447.117128,309.704533 447.117128,316.819721 C447.117128,326.235138 441.884459,333.268478 434.165285,333.268478 C431.577174,333.268478 429.138649,331.868584 428.303228,330.279591 C428.303228,330.279591 426.908979,335.808608 426.615452,336.875463 C426.107426,338.724114 425.111131,340.575587 424.199506,342.014994 C426.358617,342.652849 428.63909,343 431.001411,343 C444.255248,343 455,332.255248 455,319.001411 C455,305.744752 444.255248,295 431.001411,295" id="Pinterest"></path>
        </g>
        <g transform="translate(-1499.000000, -472.000000)"></g>
    </g>
</svg>
{%- endif -%}

{%- if id == 'google-plus' -%}
<svg width="66px" height="42px" viewBox="0 0 66 42" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>GooglePlus</title>
    <defs></defs>
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g transform="translate(-726.000000, -298.000000)" fill="#000000">
            <path d="M784.735849,315.257426 L784.735849,307.980198 L779.54717,307.980198 L779.54717,315.257426 L772.075472,315.257426 L772.075472,320.455446 L779.54717,320.455446 L779.54717,327.940594 L784.735849,327.940594 L784.735849,320.455446 L792,320.455446 L792,315.257426 L784.735849,315.257426 L784.735849,315.257426 Z M746.962264,314.841584 L746.962264,323.158416 C746.962264,323.158416 755.015925,323.147604 758.29517,323.147604 C756.519396,328.539198 753.758189,331.475248 746.962264,331.475248 C740.084774,331.475248 734.716981,325.889871 734.716981,319 C734.716981,312.110129 740.084774,306.524752 746.962264,306.524752 C750.598491,306.524752 752.946887,307.805129 755.101019,309.589713 C756.825321,307.862307 756.681283,307.616129 761.068208,303.465822 C757.344189,300.070059 752.394604,298 746.962264,298 C735.385075,298 726,307.40197 726,319 C726,330.597822 735.385075,340 746.962264,340 C764.266925,340 768.496528,324.90495 767.09434,314.841584 L746.962264,314.841584 L746.962264,314.841584 Z" id="GooglePlus"></path>
        </g>
        <g transform="translate(-1818.000000, -475.000000)"></g>
    </g>
</svg>
{%- endif -%}

{%- if id == 'envelope' -%}
<svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
  <title>Email</title>
  <path d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4l-8 5-8-5V6l8 5 8-5v2z"/>
  <path d="M0 0h24v24H0z" fill="none"/>
</svg>
{%- endif -%}
